* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #a5d8ff;
  height: 800px;
}
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: rgb(47, 108, 93);
}

a:active {
  background-color: rgba(0, 0, 0, 0.363);
}

.addRow {
  float: right;
  background-color: white;
  color: #495057;
  border: none;
  padding: 20px 20px;
  border-radius: 30px;
  display: flex;
  gap: -5px;
  cursor: pointer;
}

.addIcon {
  height: 16px;
  width: 16px;
  stroke: #40c057;
  stroke-width: 4;
  margin-left: -10px;
  margin-right: 4px;
  padding-bottom: 2px;
}

.deleteIcon {
  height: 16px;
  width: 16px;
  stroke: #f03e3e;
  stroke-width: 4;
  margin-left: -10px;
  margin-right: 4px;
  padding-bottom: 2px;
}

.saveIcon {
  height: 16px;
  width: 16px;
  stroke: #407ac0;
  stroke-width: 2;
  margin-left: -10px;
  margin-right: 6px;
  padding-bottom: 2px;
}

table {
  border-collapse: collapse;
  background-color: white;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 48px;
  display: none;
}
tr {
  border-top: 1px solid #ced4da;
}
th {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #495057;
  text-align: center;
}
td {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #495057;
  text-align: center;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}
.ders-th {
  width: 200px;
}

.fakulte-th {
  width: 350px;
}

.zaman-th {
  width: 200px;
}

.sinif-th {
  width: 150px;
}
.ogretici-th {
  width: 350px;
}

.Checkbox {
  margin-left: 26px;
  width: 16px;
  height: 16px;
}

.noData {
  border-collapse: collapse;
  background-color: white;
  margin: auto;
  border-radius: 12px;
  margin-bottom: 48px;
  padding: 24px 30px;
  display: none;
}

.noResponse {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px black solid;
  background-color: white;
  border-radius: 12px;
  z-index: 10;
  width: 400px;
  height: 130px;
  max-width: 80%;
}

.noResponse.active {
  transform: translate(-50%, -50%) scale(1);
}

.noResponseMsg {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 20%;
}

.navigation {
  margin: auto;
  padding: 24px 24px;
  text-align: center;
  background-color: white;
  border-radius: 12px;
}

.page {
  display: flex;
  margin-bottom: 24px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px black solid;
  background-color: white;
  border-radius: 12px;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 8px 12px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 32px;
  font-weight: bold;
  float: right;
}

.modal-body {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0px;
}

.input:focus {
  background-color: #1098ad37;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.416);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.hatali {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  border: 1px black solid;
  background-color: rgb(255, 0, 0);
  border-radius: 12px;
  z-index: 11;
  width: 250px;
  display: none;
}

.hatali.active {
  display: block;
}

.submit-button {
  background-color: #1098ad37;
  color: #495057;
  border: none;
  margin: 4px 24px;
  padding: 20px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1098ad4e;
}

.submit-button:active {
  background-color: #1098ada2;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 3%;
  right: 2%;
}
